div.mynetflix 
div{
  width: 120px;
  float:left;
 }
 div.mypage
 div{
  width:80px;
  float:left;
 }
 div.page
 div{
  width:50px;
  float:right;
  color: white;
  margin-top: 20px;
 }
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left 
{
  position: absolute;
  top: 145px;
  left: 20px;
}
.original
{
  position: absolute;
  top: 130px;
  left: 20px;
}
.topleft
{
 position: relative;
 top: -70px;
}

.symbol
{
  margin-left: -750px;
  margin-top: 80px;
  font-size: 30px;
  color:grey;
}
div.foot
 div{
  width: 180px;
  float:left;
  margin-left:80px;
  margin-top:50px ;
 }
 div.footer
 div{
  width:180px;
  float:left;
  margin-left:80px;
  margin-top: 15px;
 }
 .flex-containers
 {
  display: flex;
 }
div.scroll-container {
  overflow-x: auto;
  white-space:nowrap;
  padding: 5px;
}
div.scroll-container::-webkit-scrollbar{
  width: 0px;
}
div.scroll-container img {
  padding: 5px;
}
.scroll-container :hover{
  transform: scale(1.22);
}